# Virtual Environment
bci_env/

# Cache Python
__pycache__/
*.pyc

#Output of build/packaging
cat > .gitignore << 'E0F'
# Virtual Environment
bci_env/

# Cache Python
__pycache__/
*.pyc

#Output of build/packaging
build/
dist/
*.eeg-info/
